body {
    background-color: black;
    margin: 0px;
}

.mainh1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: rgb(134, 184, 228);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(19, 38, 181);
}

.top {
    display: flex;
    background-image: url("images/fire.gif");
}

a {
    font-family: system-ui, Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-decoration: none;
}

nav {
    background-color: blue;
}